@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 220 39% 10%;
    --card: 220 13% 100%;
    --card-foreground: 220 39% 10%;
    --popover: 220 13% 100%;
    --popover-foreground: 220 39% 10%;
    --primary: 220 39% 26%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 14% 92%;
    --secondary-foreground: 220 39% 10%;
    --muted: 215 14% 92%;
    --muted-foreground: 215 14% 45%;
    --accent: 194 45% 33%;
    --accent-foreground: 194 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 14% 88%;
    --input: 215 14% 88%;
    --ring: 194 45% 33%;
    --chart-1: 194 45% 33%;
    --chart-2: 220 39% 26%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;

    --sidebar-background: 220 39% 18%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 194 45% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 39% 23%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 39% 23%;
    --sidebar-ring: 194 45% 33%;
  }

  .dark {
    --background: 220 20% 11%;
    --foreground: 210 40% 98%;
    --card: 220 20% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 220 39% 26%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 194 45% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 194 45% 40%;
    
    --sidebar-background: 220 20% 9%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 194 45% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 13%;
    --sidebar-ring: 194 45% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
